<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card status="hold" updatedAt="25/08/2023" createdAt="23/08/2023" 
  notes="we have two bags that are full, one with plastic and the other with glasses"></app-pickup-call-card>
  <app-pickup-call-card status="Processing" updatedAt="25/08/2023 10.00" createdAt="23/08/2023" 
  notes="we have two bags that are full"></app-pickup-call-card>
  <app-pickup-call-card status="Finished" updatedAt="23/08/2023 18.00" createdAt="22/08/2023" value="$ 10,00"></app-pickup-call-card>
    
</ion-content>
