<ion-header>
  <ion-toolbar color="success">
    <ion-button slot="start" fill="clear">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>Reciclica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img src="https://cdn-icons-png.flaticon.com/512/2922/2922561.png">
      </ion-avatar>
      <ion-label>
        <h1>Rini Husadiyah</h1>
        <p>Gathered: <span class="money">$ 15,00</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <app-pickup-call-card [hasHeader]="true" [hasFooter]="true"></app-pickup-call-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> 
</ion-content>
