<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reciclica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item color="success">
      <ion-avatar slot="start">
        <img src="https://cdn-icons-png.flaticon.com/512/11498/11498793.png" 
        alt="">
      </ion-avatar>
      <ion-label>
        <h1>Rini Husadiyah</h1>
        <p>Gathered: <span class="money">$15,00</span></p>
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Last pickup call</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="hourglass-outline" color="warning" slot="start"></ion-icon>
        <ion-label>On hold <p>24/08/2023</p> <p>09:09:09</p></ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Created at 22/08/2023 <p>Notes: we have two bags that are full, one with plastic and the other with glassess</p></ion-label>
      </ion-item>
      <ion-button color="danger" fill="clear" size="full">See all...</ion-button>
    </ion-card-content>
  </ion-card> -->
  <app-pickup-call-card status="hold" updateAt="24/08/2023 10.10" createAt="23/08/2023"
  notes="we have two bags that are full, one with plastic and the other with glassess">
    <ion-card-header header>
      <ion-card-subtitle>Last pickup call</ion-card-subtitle>
    </ion-card-header>
    <ion-button color="success" fill="clear" size="full" footer (click)="pickupCalls()">See all...</ion-button>
  </app-pickup-call-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="success">
    <ion-icon name="add" (click)="pickupCall()"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
